<!doctype html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-12">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse et iure neque nisi officia officiis quos temporibus velit? Aliquid delectus porro quaerat quo tempore? Aliquid culpa dicta fugiat fugit officia?
    </div>
  </div>
</div>
</body>
</html>
