@import "~bootstrap-scss";

$border: 2px solid yellow;

.container{
  @include media-breakpoint-up('lg')
  {
    background: green;
  }
}

h1{
  color: black;



  & span{
    background: red;
    border: $border;
  }
}

.lorem4{
  border: $border;
  padding: 27em;
}
